
@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<form action="~/Login/Login" method="post">

    <div class="container">
  
        <div class="d-flex justify-content-center h-100">
        
            <div class="card">
                <div class="card-header">

                    <h3>Ingresar</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="nombreUsuario" id="nombreUsuario" type="text" class="form-control" placeholder="Usuario" required>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="usuarioContrasena" id="usuarioContrasena" type="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <div class="row align-items-center remember">
                        @if (TempData["MensajeErrorIngreso"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["MensajeErrorIngreso"].ToString();
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Acceder" class="btn float-right login_btn">
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

